.panel #loader {
    text-align: center;
    font-size: 2rem;
    color: rgb(153, 153, 153);
    padding: 40vh;
    height: 914px;
    background: rgb(204, 204, 204);
}

div{
	box-sizing:border-box
}

.col{
	display: inline-block;
    overflow: hidden;
}

.component{
	position: relative;
}