html {
    font-size: 3vh;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
    height: 100%;
    overflow: hidden;
    cursor: default;
    margin: 0;
}

.panel #loader {
    text-align: center;
    font-size: 2rem;
    color: rgb(153, 153, 153);
    padding: 40vh;
    height: 914px;
    background: rgb(204, 204, 204);
}

.component {
    height:  100%;
}

.charts{
    padding: 0 0.5rem;
}