html {
    font-size: 3vh;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
    height: 100%;
    overflow: hidden;
    cursor: default;
    margin: 0;
    border: 2px solid blue;
}
